<style>
    a {
        font-size: 120%;
        padding: 2px;
    }

    body {
        background-color: #f8f8ff;
    }
</style>

{% if latest_question_list %}
<h1>Poll Questions</h1>
<ul>
    {% for question in latest_question_list %}
    <li><p>{{question.question_text}}</p>
        {% if question.can_vote %}
        <a href="{% url 'polls:detail' question.id %}">vote</a>
        {% else %}
        <label>closed</label>
        {% endif %}
        <a href="{% url 'polls:results' question.id %}">results</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}